/* general styles that are spread across the whole website page */
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

    p {
        margin: 10px;
    }

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: linear-gradient(to bottom, lightskyblue, white);
}
/* as well as the above */

/* Names and Numbers boxes */
.box {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 20px;
    justify-content: space-around;
}

.name, .num, #green, #yellow, #red, .individual {
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

.name {
    background-color: white;
    padding: 0 5px 0 5px;
}

.num, .name {
    border: black 1px solid;
    border-radius: 15px;
}

.num {
    background-color: #AED9FC;
    padding: 10px;
}

.colourCoded {
    display: block;
    align-content: center;
    padding: 5px;
}

#red, #yellow, #green {
    border: black 1px solid;
    padding: 5px;
}

#red {
    background-color: #FFA4A4;
}

#yellow {
    background-color: #FFFC9F;
}

#green {
    background-color: #A1FFA5;
}

/* headers */

h1, h2 {
    font-size: 16px;
}

h1 {
    color: white;
}

h2 {
    color: #B3B3B3;
}

h3 {
    color: black;
    margin-top: 10px;
    text-decoration: underline;
}

/* pretty much making sure that those certain items are listed are the correct sizes */

.items {
    font-size: 18px;
}

/* this is for the individual titles above the boxes to be aligned correctly */

.titleNtime {
    display: grid;
    grid-template-areas:
    'header header menu menu'
    'main main right right'
    'footer footer right right';
    align-items: center;
    justify-items: center;
}

.time {
    background-color: lightgrey;
    border: black 1px solid;
    display: grid;
    justify-items: center;
}

.title {
    display: flex;
    border: 0;
    display: grid;
    justify-items: center;
    grid-area: header;
}

.individual {
    border: black 1px solid;
    width: 190px;
    text-align: center;
}

.expand {
    font-size: 0;
    grid-area: right;
}

.orderBoxes {
    display: flex;
    align-items: center;
    grid-area: main;
}

/* allows some form of colours and sizes the boxes correctly */

nav {
    background-color: #678196;
    width: 100%;
    height: 79px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.menu{
    position: absolute;
    top: 2vh;
    left: 81.5vw;
  }
 
  .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 10vw;
    cursor: pointer;
  }
 
  .dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 1;
  }
 
  .dropdown a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }
 
  .dropdown a:hover {
    background-color: #ddd;
  }
 
  .menu:hover .dropdown {
    display: block;
  }

img {
    width: 52px;
    height: 52px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    body {
        background-image: linear-gradient(to bottom, lightskyblue, white);
        background-repeat: no-repeat;
    }

    .expand {
        font-size: 20px;
    }
    

}