/* general styles that are spread across the whole website page */
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin: 10px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: linear-gradient(to bottom, lightskyblue, white);
}
/* as well as the above */

/* Names and Numbers */
.box {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.name {
    background-color: aliceblue;
}

.num, .name {
    border: black 1px solid;
    border-radius: 15px;
}

.num {
    background-color: #AED9FC;
    padding: 10px;
}

.colourCoded {
    display: block;
    align-content: center;
}

#red, #yellow, #green {
    border: black 1px solid;
}

#red {
    background-color: #FFA4A4;
}

#yellow {
    background-color: #FFFC9F;
}

#green {
    background-color: #A1FFA5;
}

/* headers */

h1, h2 {
    font-size: 16px;
}

h1 {
    color: white;
}

h2 {
    color: #B3B3B3;
}

h3 {
    color: black;
    margin: 10px 10px 0 10px;
    text-decoration: underline;
}

/* pretty much making sure that those certain items are listed are the correct sizes */
.items {
    width: 10%;
}

/* this is for the individual titles above the boxes to be aligned correctly */
.title {
    display: flex;
    border: 0;
    display: grid;
    justify-items: center;
}

.expand {
    font-size: 0;
}

/* allows some form of colours and sizes the boxes correctly */
.time {
    background-color: lightgrey;
    border: black 1px solid;
    display: grid;
    justify-items: center;
}

nav {
    background-color: #678196;
    width: 100%;
    height: 79px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.username {
    display: block;
    text-align: right;
    height: 60px;
    width: auto;
    align-content: center;
}

.position {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}

img {
    width: 52px;
    height: 52px;
}

/* #logo {
    margin-left: 2%;
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    body {
        background-image: linear-gradient(to bottom, lightskyblue, white);
        background-repeat: no-repeat;
    }

    .items {
        width: 45%;
    }

    .title {
        display: flex;
        border: 0;
        text-decoration: underline;
        display: grid;
        justify-items: center;
    }

    .time {
        background-color: lightgrey;
        border: black 1px solid;
        display: grid;
        justify-items: center;
    }

    .expand {
        font-size: 20px;
    }
    

}